@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* START OF CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF CSS RESET */

/*--------------------------------*/

/* START OF VARIABLE DECLARATION */
:root{
    --main-company-color: #eb058c;
    --sec-company-color: #92a77b;
}
/* END OF VARIABLE DECLARATION*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}



.page-skeleton{
    display: block
}

.simulator {    
    width: 100%;
    min-height: 100vh;
    background-color: #eff1f3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12rem;
    padding-top: 1rem;
}

.title {
    color: var(--main-company-color);
    font-weight: 800;
    font-size: 1.4rem;
}

.subtitle {
    color: var(--sec-company-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.regular-text{
    font-size: medium;
}

input {
    font-family: "Open Sans", serif;
}

.input-days{
    display: flex;
    flex-direction: row;
}

.input-days-option{
    padding: 10px;
}

.header {
    display: flex;
    position: absolute;
    width: 100%; 
    top: 0;
    left: 0;
    z-index: 1;
}

.header-image-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.header-image-wrap img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-box {
    position: relative;
    width: 80%;
    height: 640px;
    border-radius: 3.3rem;
    top: 100px;
}

.form-content {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-content--header {
    text-align: center;
    position: relative;
    top: 25px;
    bottom: 25px;
}

.image-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 55%;
    top: 0;
    left: 0;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #000;
}

.form-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    border-radius: 2rem;
    background-color: white;
    right: 0;
    display: flex;
    flex-direction: column;
}

.form-wrap > * {
    max-width: 100%;
    flex-shrink: 1;
}

.image-wrap img {
    width: auto;
    height: 100%;
    max-width: none;
    max-height: none;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

form {
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.finan-rate {
    display: flex;
    gap: 10px;
}

.form-content--group h2{
    text-align: center;
}

.form-content--group--finan {
    display: flex;
    flex-direction: column;
}

.form-content--group--rate {
    display: flex;
    flex-direction: column;
}

.form-result {
    position: relative;
    top: 15px;
    background-color: var(--main-company-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    flex-direction: column;
    border-radius: 1rem;
    z-index: -3;
}

.form-result h3 {
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

.form-result input {
    position: relative;
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    bottom: 10px;
}

.form-result input::placeholder{
  color:gray;
  opacity: 0.6;
    
}

.advantages{
    display: block;
    min-height: 45vh;
}

.advantages-header{
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.advantages-cards-wrap{
    display: flex;
}

.tarjetas{
    display:flex;
    justify-content: center;
}

.tarjeta{
    display:flex;
    width: 25%;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items:center;
    border: none;
}

.advantages-card-image{
    padding-bottom: 10px;
}

.advantages-card-text{
    font-size: large;
    text-align: center;
}

.separator-right{
    border-right-width: 2px !important;
    border-right-color: #757575;
    border-right-style: solid !important;
}

.separator-bottom{
    border-bottom-width: 2px !important;
    border-bottom-color: #757575;
    border-bottom-style: solid !important;
}

.footer{
    display: block;
    background-color: var(--main-company-color);
    width: 100%;
    min-height: 40vh;
}

.tarjetas-footer{
    width: 85%;
    justify-self:center;
    padding-top: 40px;
}

.footer-icon{
    color: white;
}

.tarjeta-header{
    color: white;  
    border-bottom: 1px solid;  
    width: 80%;
    margin-bottom: 10px;
}

.tarjeta-header h3{
    font-size: 21px;
}

.parr-line{
    color: white;
    
}

.parr-line a{
    color: white;
}

.tarjeta-footer{
    display: flex;
    justify-content: start;
    align-items: start;
}

.socials-widget{
    display: flex;
    justify-content: space-evenly;
}

.socials-widget-icon{
    padding: 8px;
    font-size: 2em;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
}

.icon-facebook{
    padding-left: -10px;
    color: blue;
    background-size: 50% 40%;
    background-position: 50% 57%;   
}

.icon-youtube{
    color:red;
    background-position: center;
    background-size: 50% 30%;
}

.icon-linkedin{
    color: #0e76a8;
    background-position: center;
    background-size: 50% 42%;
}




/* Responsive Design */
@media (max-width: 768px) {
    .image-wrap{
        display: none;
    }

    .form-wrap{
        width: 100%;
    }
}
